mixin student(student={})
    .student-info
        a(href="#")
            p=student.name
            p=student.school
            p=student.grade
            p=student.note
            p=student.lessonDay[1]
            p=student.registrationDate
            p=student.tel