extends layouts/main

block content
    .new-student-page.container
        .newstudent-form-container
            p #{student.name}학생의 정보
            form(action=`/students${routes.studentsEdit(student.id)}`, method="post")
                input(type="hidden" name="studentName" value=student.name)
                .form-group
                    label.col-form-label(for="studentSchool") 학교
                    input.form-control#studentSchool(type="text", placeholder="학교", name="studentSchool", value=`${student.school}`)
                .form-group
                    label.col-form-label(for="studentGrade") 학년
                    select.custom-select#studentGrade(placeholder="학년", name="studentGrade")
                        option(value="") 학년선택
                        if (student.grade === '초1')
                            option(value="초1" selected) 초1
                        else
                            option(value="초1") 초1
                        if (student.grade === '초2')
                            option(value="초2" selected) 초2
                        else
                            option(value="초2") 초2
                        if (student.grade === '초3')
                            option(value="초3" selected) 초3
                        else
                            option(value="초") 초3
                        if (student.grade === '초4')
                            option(value="초4" selected) 초4
                        else
                            option(value="초4") 초4
                        if (student.grade === '초5')
                            option(value="초5" selected) 초5
                        else
                            option(value="초5") 초5
                        if (student.grade === '초6')
                            option(value="초6" selected) 초6
                        else
                            option(value="초6") 초6
                        if (student.grade === '중1')
                            option(value="중1" selected) 중1
                        else
                            option(value="중1") 중1
                        if (student.grade === '중2')
                            option(value="중2" selected) 증2
                        else
                            option(value="중2") 중2
                        if (student.grade === '중3')
                            option(value="중3" selected) 중3
                        else
                            option(value="중3") 중3
                        if (student.grade === '고1')
                            option(value="고1" selected) 고1
                        else
                            option(value="고1") 고1
                        if (student.grade === '고2')
                            option(value="고2" selected) 고2
                        else
                            option(value="고2") 고2
                        if (student.grade === '고3')
                            option(value="고3" selected) 고3
                        else
                            option(value="고3") 고3
                .form-group
                    label.col-form-label(for="studentTel") 전화번호
                    input.form-control#studentTel(type="tel", placeholder="010-0000-0000", name="tel", value=student.tel)
                .form-group    
                    label.col-form-label(for="registrationDate") 등록일
                    input.form-control#registrationDate(type="date", name="registrationDate")
                .form-group
                    fieldset
                        legend 수업요일
                        #lessonDay
                            .form-check.form-check-inline
                                input.form-check-input#mon(type="checkbox", value="월", name="lessonDay")
                                label.form-check-label(for="mon") 월
                            .form-check.form-check-inline
                                input.form-check-input#tue(type="checkbox", value="화", name="lessonDay")
                                label.form-check-label(for="tue") 화
                            .form-check.form-check-inline
                                input.form-check-input#wed(type="checkbox", value="수", name="lessonDay")
                                label.form-check-label(for="wed") 수
                            .form-check.form-check-inline
                                input.form-check-input#thu(type="checkbox",  value="목", name="lessonDay")
                                label.form-check-label(for="thu") 목
                            .form-check.form-check-inline
                                input.form-check-input#fri(type="checkbox", value="금", name="lessonDay")
                                label.form-check-label(for="fri") 금
                            .form-check.form-check-inline
                                input.form-check-input#sat(type="checkbox", value="토", name="lessonDay")
                                label.form-check-label(for="sat") 토
                            .form-check.form-check-inline
                                input.form-check-input#sun(type="checkbox", value="일", name="lessonDay")
                                label.form-check-label(for="sun") 일
                .from-group
                    label.col-form-label(for="studentNote") 비고
                    textarea.form-control#studentNote(name="note", cols="50", rows="5")=student.note
                .form-group
                    .form-check.form-check-inline
                        label.form-check-label(for="attend") 재원생
                        input.form-check-input#attend(type="radio", name="studentStatus", value="재원생", checked)
                    .form-check.form-check-inline
                        label.form-check-label(for="outStudent") 퇴원생
                        input.form-check-input#outStudent(type="radio", name="studentStatus", value="퇴원생")
                input.btn.btn-primary(type="submit", value="저장")
    script(type='text/javascript').
        var year = #{student.registrationDate.getFullYear()};
        var month = #{student.registrationDate.getMonth()}+1;
        var day = #{student.registrationDate.getDate()};
        if(month < 10){
            month = "0"+month;
        }
        if(day < 10){
            day = "0"+day;
        } 
        var today = year+"-"+month+"-"+day;
        console.log(today);
        var registDate = document.getElementById('registrationDate');
        registDate.value = today;

        var lesson_day_string = `#{student.lessonDay}`;
        var lesson_day = lesson_day_string.split(',');
        var lesson_day_length = lesson_day.length;
        console.log(lesson_day);
        if (lesson_day.includes('월')) {
            var mon = document.getElementById('mon');
            mon.checked = true;
        } 
        if (lesson_day.includes('화')) {
            var tue = document.getElementById('tue');
            tue.checked = true; 
        }
        if (lesson_day.includes('수')) {
            var wed = document.getElementById('wed');
            wed.checked = true; 
        }
        if (lesson_day.includes('목')) {
            var thu = document.getElementById('thu');
            thu.checked = true; 
        }
        if (lesson_day.includes('금')) {
            var fri = document.getElementById('fri');
            fri.checked = true; 
        }
        if (lesson_day.includes('토')) {
            var sat = document.getElementById('sat');
            sat.checked = true; 
        }
        if (lesson_day.includes('일')) {
            var sun = document.getElementById('sun');
            sun.checked = true; 
        }
        var registrateStatus = `#{student.status}`;
        console.log(registrateStatus);
        switch (registrateStatus){
            case '재원생':
                var attend = document.getElementById('attend');
                attend.checked = true;
                break;
            case '퇴원생':
                var out = document.getElementById('outStudent');
                out.checked = true;
        } 