extends ../layouts/main

block content
    .container.lesson-new-container
        .form-container
            h2 #{name}학생의 #{date} 학습일지 작성
            form.form#lesson_newForm_js(action=`/lesson${routes.lessonNew}`, method="post")
                input(type="text", name="student_id", value=student_id, hidden)
                input(type="text", name="name", value=name, hidden)
                input(type="date", name="date", value=date, hidden)
                .form-group
                    .form-check.form-check-inline
                        label.col-form-label(for="") 정규
                        input.form-check-input(type="radio", name="studyType", value="정규", checked)
                    .form-check.form-check-inline
                        label.col-form-label(for="") 보충
                        input.form-check-input(type="radio", name="studyType", value="보충")
                .form-group
                    .form-check.form-check-inline
                        label.col-form-label(for="") 출석
                        input.form-check-input(type="radio", name="attend", value="출석", checked)
                    .form-check.form-check-inline
                        label.col-form-label(for="") 지각
                        input.form-check-input(type="radio", name="attend", value="지각")
                    .form-check.form-check-inline
                        label.col-form-label(for="") 결석
                        input.form-check-input(type="radio", name="attend", value="결석")
                fieldset.homework
                    legend 숙제
                    .form-group.homework__fulfillment
                        label.col-form-label(for="") 이행 :
                        .form-check.form-check-inline
                            label.col-form-label(for="") 우수
                            input.form-check-input(type="radio", name="fulfillment", value="우수", checked)
                        .form-check.form-check-inline
                            label.col-form-label(for="") 양호
                            input.form-check-input(type="radio", name="fulfillment", value="양호")
                        .form-check.form-check-inline
                            label.col-form-label(for="") 보통
                            input.form-check-input(type="radio", name="fulfillment", value="보통")
                        .form-check.form-check-inline
                            label.col-form-label(for="") 불량
                            input.form-check-input(type="radio", name="fulfillment", value="불량")
                        .form-check.form-check-inline
                            label.col-form-label(for="") 없음
                            input.form-check-input(type="radio", name="fulfillment", value="없음")
                    .form-group.homework__faithfulness
                        label.col-form-label(for="") 충실도 :
                        input.form-control.homework__faithfulness-number#faithfulness-number_js(type="number", max="100", min="0", name="faithfulness", value="100")
                    .form-group
                        label.col-form-label(for="") 완성도 :
                        input.form-control(type="number", max="100", min="0", name="homework_completeLevel", value="100")
                fieldset
                    legend 학습
                    .form-group.form__study-unit
                        label.col-form-label(for="") 학습단원 :
                        textarea.form-control#study_unit_input_js(cols="30", rows="10", name="unit")
                    button.btn.btn-secondary#select_unit_js(type="button", data-toggle="modal", data-target="#unitModal") 단원입력선택
                    .form-grop
                        label.col-form-label(for="") 학습량 :
                        input.form-control(type="number", max="100", min="0", name="volume", value="100")
                    .form-grop
                        label.col-form-label(for="") 완성도 :
                        input.form-control(type="number", max="100", min="0", name="study_completeLevel", value="100")
                button.btn.btn-secondary#test_insert_js 테스트입력
                .test
                .form-group
                    label.col-form-label(for="") 비고 :
                    textarea.form-control(name="note", cols="70", rows="10")
                input.btn.btn-primary(type="submit")

    //- 모달창
    .modal.fade#unitModal(tabindex="-1", role="dialog", aria-labelledby="unitModal", aria-hidden="true")
        .modal-dialog.modal-dialog-scrollable(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#unitModalTitle 단원선택창
                    select#get_unit_modal_js(name="select_unit")
                        option(value="") 과정선택
                        option(value="초1-1") 초1-1
                        option(value="초1-2") 초1-2
                        option(value="초2-1") 초2-2
                        option(value="초2-2") 초2-2
                        option(value="초3-1") 초3-1
                        option(value="초3-2") 초3-2
                        option(value="초4-1") 초4-1
                        option(value="초4-2") 초4-2
                        option(value="초5-1") 초5-1
                        option(value="초5-2") 초5-2
                        option(value="초6-1") 초6-1
                        option(value="초6-2") 초6-2
                        option(value="중1-1") 중1-1
                        option(value="중1-2") 중1-2
                        option(value="중2-1") 중2-1
                        option(value="중2-2") 중2-2
                        option(value="중3-1") 중3-1
                        option(value="중3-2") 중3-3
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    div
                        ul#unit_list_js
                .modal-footer
                    button(type="button", data-dismiss="modal") 닫기
