include ../mixins/message

doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
    body
        nav.navbar.navbar-light.navbar-expand-md(style="background-color: white;")
            a.navbar-brand(href=routes.home) SsamSsam
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarTogglerDemo02", aria-controls="navbarTogglerDemo02", aria-expanded="false", aria-label="Toggle navigation") 
                span.navbar-toggler-icon

            div.collapse.navbar-collapse#navbarTogglerDemo02
                ul.navbar-nav
                    li.nav-item
                        .dropdown
                            a.nav-link.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 학생관리
                            .dropdown-menu
                                a.dropdown-item(href=`/students${routes.studentsNew}`) 학생등록
                                a.dropdown-item(href=`/students${routes.studentsList}`) 학생조회/수정
                    li.nav-item
                        .dropdown
                            a.nav-link.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 수업관리
                            .dropdown-menu
                                a.dropdown-item(href=`/lesson${routes.lessonConfig}`) 학습일지입력/수정
                                a.dropdown-item(href=`/lesson${routes.lessonSearch}`) 학습일지조회/리포트작성
                ul.navbar-nav
                    if !loggedUser    
                        li.nav-item
                            a.nav-link(href=routes.join) 회원가입
                        li.nav-item
                            a.nav-link(href=routes.login) 로그인
                    else
                        li.nav-item
                            a.nav-link(href=routes.editProfile) #{loggedUser.nickName}님의회원정보
                        li.nav-item
                            a.nav-link(href=routes.logout) 로그아웃
        if messages.error
            +message({
                type:'error',
                text:messages.error
            })
        else if messages.info
            +message({
                type:'info',
                text:messages.info
            })
        else if messages.success
            +message({
                type:'success',
                text:messages.success
            })

        main
            block content
        
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
        script(src="/static/main.js")
